@{
    ViewBag.Title = "Home Page";
}
@model SpotifyChat.Models.SpotifyAccess
<div class="row">

    <div class="col-md-4">

        <p>
            @ViewBag.AuthUri
            
        </p>
    </div>
</div>
