@{
    ViewBag.Title = "Home Page";
}
@model SpotifyChat.Models.SpotifyAccess


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>




<body ng-app="chat-app">

    <div class="row">

        <div class="col-md-4">
            @if (ViewBag.SpotifyAccessToken == null)
            {
                <p>Note Spotify token found</p>
            }
            else
            {
                <p>Spotify Acess Token @ViewBag.SpotifyAccessToken</p>
            }
        </div>
    </div>
    
    <div class="jumbotron">
        @if (ViewBag.Playlist == null)
        {
            <p>No playlist here</p>
        }
        else
        {
            @ViewBag.Playlist
        }
        
    </div>

    <br />
    <div ng-controller="ChatController">
        <br />
        <div>
            Name: <input type="text" ng-model="name" /><br />
            Message: <input type="text" ng-model="message" /><br />
            <input type="button" value="Send" ng-click="newMessage()" />
        </div>
        <div>
            <ul>
                <li ng-repeat="chat in messages">
                    <span ng-bind="chat"></span>
                </li>
            </ul>
        </div>
    </div>

    <script src="Scripts/jquery-1.6.4.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/angular.js"></script>
    <script src="~/Scripts/sampleChat.js"></script>

</body>
</html>