@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-4">

        <p>
            <a href=@ViewBag.AuthUri class="btn btn-primary btn-lg" >Spotify Button</a>
        </p>
    </div>
</div>
